.search {
    width: 280px;
    max-width: 300px;
    margin: 0 auto;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.search-input {
    border: 1px solid var(--color-primary-variant);
    outline: none;
    height: 50px;
}